.tab {
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  border-right: 1px groove white;
  cursor: pointer;
  display: flex;
  max-width: 300px;
}

.tab-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.tab button {
  margin-left: 10px;
}

.tab button i {
  font-size: 14px;
}

.active-tab {
  composes: tab;
  background-color: #3D5AFE;
}
