.header {
  background-color: #1A237E;
  color: #EFEFEF;
  padding: 5px 15px;
  display: flex;
  align-items: flex-start;
}

.button-cell {
  flex: 0 0 50px;
}

.button-cell button {
  color: white;
  background-color: transparent;
  border: none;
  padding: 5px 5px 0;
  cursor: pointer;
}

.title-cell {
  flex: 1;
  padding-top: 5px;
}

.title-cell p {
  padding: 0;
  margin: 0;
}
