.header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1A237E;
  color: #EFEFEF;
  padding: 5px 15px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 40px;
}

.button-cell {
  flex: 0 0 150px;
}

.button-cell button {
  color: white;
  background-color: transparent;
  border: none;
  padding: 5px 5px 0;
  cursor: pointer;
}

.button-cell button:disabled {
  cursor: default;
  color: #AAA;
}

.title-cell {
  flex: 1;
  padding-top: 5px;
}

.title-cell p {
  padding: 0;
  margin: 0;
}
