.tabs {
  background-color: #E1BEE7;
  height: 30px;
  box-sizing: border-box;
  padding-left: 5px;
  display: flex;
  align-items: flex-start;
}

.tab {
  border: 1px solid gray;
  border-bottom: none;
  height: 100%;
  text-align: center;
}
